<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.apple.dt.unit.emptyApplication.qw</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.cocoaTouchApplicationBase</string>
		<string>com.apple.dt.unit.coreDataCocoaTouchApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>工具栏加上导航栏 </string>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Objective-C</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>Assets.xcassets</string>
						<string>AppDelegate.m:imports:importHeader:GZTabBarController.h</string>
						<string>OC/Other/CommonlyConst.h</string>
						<string>OC/Other/CommonlyConst.m</string>
						<string>OC/Other/___PROJECTNAME___PrefixHeader.pch</string>
						<string>OC/Other/CommonlyMacro.h</string>
                        <string>OC/Other/KMCGeigerCounter.h</string>
                        <string>OC/Other/KMCGeigerCounter.m</string>
						<string>OC/Base/GZBaseViewController.h</string>
						<string>OC/Base/GZBaseViewController.m</string>
						<string>OC/Base/GZNavitionController.h</string>
						<string>OC/Base/GZNavitionController.m</string>
						<string>OC/Base/GZTabBarController.h</string>
						<string>OC/Base/GZTabBarController.m</string>
						<string>OC/Extension/UIView+Extension.h</string>
						<string>OC/Extension/UIView+Extension.m</string>
						<string>OC/Extension/UIViewController+GZAdd.h</string>
						<string>OC/Extension/UIViewController+GZAdd.m</string>
					</array>
					<key>Definitions</key>
					<dict>
						<key>Assets.xcassets</key>
						<dict>
							<key>SortOrder</key>
							<string>99</string>
							<key>Path</key>
							<string>Assets.xcassets</string>
						</dict>
						<key>AppDelegate.m:implementation:methods:applicationdidFinishLaunchingWithOptions:body</key>
						<string> self.window = [[UIWindow alloc] initWithFrame:[UIScreen mainScreen].bounds];
    GZTabBarController *tabBar = [[GZTabBarController alloc] init];
    self.window.rootViewController = tabBar;
    [self.window makeKeyAndVisible];
</string>
						<key>OC/Extension/UIView+Extension.m</key>
						<dict>
							<key>SortOrder</key>
							<string>1</string>
							<key>Group</key>
							<string>Extension</string>
							<key>Path</key>
							<string>OC/Extension/UIView+Extension.m</string>
						</dict>
						<key>OC/Extension/UIView+Extension.h</key>
						<dict>
							<key>Group</key>
							<string>Extension</string>
							<key>Path</key>
							<string>OC/Extension/UIView+Extension.h</string>
						</dict>
                        <key>OC/Extension/UIViewController+GZAdd.m</key>
                        <dict>
                            <key>Group</key>
                            <string>Extension</string>
                            <key>Path</key>
                            <string>OC/Extension/UIViewController+GZAdd.m</string>
                        </dict>
                        <key>OC/Extension/UIViewController+GZAdd.h</key>
                        <dict>
                            <key>Group</key>
                            <string>Extension</string>
                            <key>Path</key>
                            <string>OC/Extension/UIViewController+GZAdd.h</string>
                        </dict>
						<key>OC/Base/GZTabBarController.m</key>
						<dict>
							<key>Path</key>
							<string>OC/Base/GZTabBarController.m</string>
							<key>SortOrder</key>
							<string>2</string>
							<key>Group</key>
							<string>Base</string>
						</dict>
						<key>OC/Base/GZTabBarController.h</key>
						<dict>
							<key>Path</key>
							<string>OC/Base/GZTabBarController.h</string>
							<key>Group</key>
							<string>Base</string>
						</dict>
						<key>OC/Base/GZNavitionController.m</key>
						<dict>
							<key>Group</key>
							<string>Base</string>
							<key>Path</key>
							<string>OC/Base/GZNavitionController.m</string>
						</dict>
						<key>OC/Base/GZNavitionController.h</key>
						<dict>
							<key>Group</key>
							<string>Base</string>
							<key>Path</key>
							<string>OC/Base/GZNavitionController.h</string>
						</dict>
						<key>OC/Base/GZBaseViewController.m</key>
						<dict>
							<key>Group</key>
							<string>Base</string>
							<key>Path</key>
							<string>OC/Base/GZBaseViewController.m</string>
						</dict>
						<key>OC/Base/GZBaseViewController.h</key>
						<dict>
							<key>Group</key>
							<string>Base</string>
							<key>Path</key>
							<string>OC/Base/GZBaseViewController.h</string>
						</dict>
						<key>OC/Other/CommonlyMacro.h</key>
						<dict>
							<key>SortOrder</key>
							<string>3</string>
							<key>Group</key>
							<string>Other</string>
							<key>Path</key>
							<string>OC/Other/CommonlyMacro.h</string>
						</dict>
						<key>OC/Other/___PROJECTNAME___PrefixHeader.pch</key>
						<dict>
							<key>Group</key>
							<string>Other</string>
							<key>Path</key>
							<string>OC/Other/___PROJECTNAME___PrefixHeader.pch</string>
						</dict>
						<key>OC/Other/CommonlyConst.h</key>
						<dict>
							<key>Group</key>
							<string>Other</string>
							<key>Path</key>
							<string>OC/Other/CommonlyConst.h</string>
						</dict>
						<key>OC/Other/CommonlyConst.m</key>
						<dict>
							<key>Path</key>
							<string>OC/Other/CommonlyConst.m</string>
							<key>Group</key>
							<string>Other</string>
						</dict>
                        <key>OC/Other/KMCGeigerCounter.h</key>
                        <dict>
                            <key>Group</key>
                            <string>Other</string>
                            <key>Path</key>
                            <string>OC/Other/KMCGeigerCounter.h</string>
                        </dict>
                        <key>OC/Other/KMCGeigerCounter.m</key>
                        <dict>
                            <key>Path</key>
                            <string>OC/Other/KMCGeigerCounter.m</string>
                            <key>Group</key>
                            <string>Other</string>
                        </dict>
					</dict>
				</dict>
				<key>Swift</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>Assets.xcassets</string>
						<string>Swift/Other/Macro.swift</string>
						<string>Swift/Base/GZBaseViewController.swift</string>
						<string>Swift/Base/GZNavitionController.swift</string>
						<string>Swift/Base/GZTabBarController.swift</string>
					</array>
					<key>Definitions</key>
					<dict>
						<key>Assets.xcassets</key>
						<dict>
							<key>SortOrder</key>
							<integer>50</integer>
							<key>Path</key>
							<string>Assets.xcassets</string>
						</dict>
						<key>Swift/Other/Macro.swift</key>
						<dict>
							<key>SortOrder</key>
							<integer>1000</integer>
							<key>Path</key>
							<string>Other-Swift/Macro.swift</string>
							<key>Group</key>
							<string>Other</string>
						</dict>
						<key>Swift/Base/GZTabBarController.swift</key>
						<dict>
							<key>SortOrder</key>
							<integer>900</integer>
							<key>Path</key>
							<string>Swift/Base/GZTabBarController.swift</string>
							<key>Group</key>
							<string>Base</string>
						</dict>
						<key>Swift/Base/GZNavitionController.swift</key>
						<dict>
							<key>SortOrder</key>
							<string>101</string>
							<key>Path</key>
							<string>Swift/Base/GZNavitionController.swift</string>
							<key>Group</key>
							<string>Base</string>
						</dict>
						<key>Swift/Base/GZBaseViewController.swift</key>
						<dict>
							<key>SortOrder</key>
							<string>102</string>
							<key>Path</key>
							<string>Swift/Base/GZBaseViewController.swift</string>
							<key>Group</key>
							<string>Base</string>
						</dict>
						<key>AppDelegate.swift:implementation:methods:applicationdidFinishLaunchingWithOptions:body</key>
						<string> self.window = UIWindow(frame: UIScreen.mainScreen().bounds)
                self.window?.backgroundColor = UIColor.whiteColor()
                let rootCtl = GZTabBarController()
                self.window?.rootViewController = rootCtl
                 //FIXME:此处设置 tabBar 子视图控制器 的名称
                 rootCtl.VCArray = [&quot;GZBaseViewController&quot;,&quot;GZBaseViewController&quot;,&quot;GZBaseViewController&quot;,&quot;GZBaseViewController&quot;]
                //FIXME:此处设置 tabBar 子视图控制器 的标题
                 rootCtl.titleArray = [&quot;单糖&quot;,&quot;分类&quot;,&quot;我&quot;]
                //FIXME:设置图标
                //rootCtl.imageArray
                 //FIXME:设置选中图标
                //rootCtl.selectImageArray
                //选中icon 未选中icon
                self.window?.makeKeyAndVisible()
</string>
					</dict>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
