<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.apple.dt.unit.emptyApplication.qw</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.cocoaTouchApplicationBase</string>
		<string>com.apple.dt.unit.coreDataCocoaTouchApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>工具栏加上导航栏 </string>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Objective-C</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>Assets.xcassets</string>
						<string>AppDelegate.m:imports:importHeader:GZTabBarController.h</string>
						<string>GZOC/Other/CommonlyConst.h</string>
						<string>GZOC/Other/CommonlyConst.m</string>
						<string>GZOC/Other/___PROJECTNAME___PrefixHeader.pch</string>
						<string>GZOC/Other/CommonlyMacro.h</string>
						<string>GZOC/Other/KMCGeigerCounter.h</string>
						<string>GZOC/Other/KMCGeigerCounter.m</string>
						<string>GZOC/Base/GZBaseViewController.h</string>
						<string>GZOC/Base/GZBaseViewController.m</string>
						<string>GZOC/Base/GZNavitionController.h</string>
						<string>GZOC/Base/GZNavitionController.m</string>
						<string>GZOC/Base/GZTabBarController.h</string>
						<string>GZOC/Base/GZTabBarController.m</string>
						<string>GZOC/Extension/UIView+Extension.h</string>
						<string>GZOC/Extension/UIView+Extension.m</string>
						<string>GZOC/Extension/UIViewController+GZAdd.h</string>
						<string>GZOC/Extension/UIViewController+GZAdd.m</string>
						<string>GZOC/Extension/UITabBar+GZAdd.h</string>
						<string>GZOC/Extension/UITabBar+GZAdd.m</string>
					</array>
					<key>Definitions</key>
					<dict>
						<key>Assets.xcassets</key>
						<dict>
							<key>SortOrder</key>
							<string>99</string>
							<key>Path</key>
							<string>Assets.xcassets</string>
						</dict>
                        <key>AppDelegate.m:implementation:methods:applicationdidFinishLaunchingWithOptions:body</key>
						<string>
                            self.window = [[UIWindow alloc] initWithFrame:[UIScreen mainScreen].bounds];
                            GZTabBarController *tabBar = [[GZTabBarController alloc] init];
                            self.window.rootViewController = tabBar;
                            [self.window makeKeyAndVisible];
                        </string>
						<key>GZOC/Extension/UIView+Extension.h</key>
						<dict>
							<key>Group</key>
							<string>Extension</string>
							<key>Path</key>
							<string>GZOC/Extension/UIView+Extension.h</string>
						</dict>
						<key>GZOC/Extension/UIView+Extension.m</key>
						<dict>
							<key>SortOrder</key>
							<string>1</string>
							<key>Group</key>
							<string>Extension</string>
							<key>Path</key>
							<string>GZOC/Extension/UIView+Extension.m</string>
						</dict>
						<key>GZOC/Extension/UIViewController+GZAdd.h</key>
						<dict>
							<key>Group</key>
							<string>Extension</string>
							<key>Path</key>
							<string>GZOC/Extension/UIViewController+GZAdd.h</string>
						</dict>
						<key>GZOC/Extension/UIViewController+GZAdd.m</key>
						<dict>
							<key>Group</key>
							<string>Extension</string>
							<key>Path</key>
							<string>GZOC/Extension/UIViewController+GZAdd.m</string>
						</dict>
						<key>GZOC/Extension/UITabBar+GZAdd.h</key>
						<dict>
							<key>Group</key>
							<string>Extension</string>
							<key>Path</key>
							<string>GZOC/Extension/UITabBar+GZAdd.h</string>
						</dict>
						<key>GZOC/Extension/UITabBar+GZAdd.m</key>
						<dict>
							<key>Group</key>
							<string>Extension</string>
							<key>Path</key>
							<string>GZOC/Extension/UITabBar+GZAdd.m</string>
						</dict>
						<key>GZOC/Base/GZTabBarController.h</key>
						<dict>
							<key>Path</key>
							<string>GZOC/Base/GZTabBarController.h</string>
							<key>Group</key>
							<string>Base</string>
						</dict>
						<key>GZOC/Base/GZTabBarController.m</key>
						<dict>
							<key>Path</key>
							<string>GZOC/Base/GZTabBarController.m</string>
							<key>SortOrder</key>
							<string>2</string>
							<key>Group</key>
							<string>Base</string>
						</dict>
						<key>GZOC/Base/GZNavitionController.h</key>
						<dict>
							<key>Group</key>
							<string>Base</string>
							<key>Path</key>
							<string>GZOC/Base/GZNavitionController.h</string>
						</dict>
						<key>GZOC/Base/GZNavitionController.m</key>
						<dict>
							<key>Group</key>
							<string>Base</string>
							<key>Path</key>
							<string>GZOC/Base/GZNavitionController.m</string>
						</dict>
						<key>GZOC/Base/GZBaseViewController.h</key>
						<dict>
							<key>Group</key>
							<string>Base</string>
							<key>Path</key>
							<string>GZOC/Base/GZBaseViewController.h</string>
						</dict>
						<key>GZOC/Base/GZBaseViewController.m</key>
						<dict>
							<key>Group</key>
							<string>Base</string>
							<key>Path</key>
							<string>GZOC/Base/GZBaseViewController.m</string>
						</dict>
						<key>GZOC/Other/___PROJECTNAME___PrefixHeader.pch</key>
						<dict>
							<key>Group</key>
							<string>Other</string>
							<key>Path</key>
							<string>GZOC/Other/___PROJECTNAME___PrefixHeader.pch</string>
						</dict>
						<key>GZOC/Other/CommonlyMacro.h</key>
						<dict>
							<key>SortOrder</key>
							<string>3</string>
							<key>Group</key>
							<string>Other</string>
							<key>Path</key>
							<string>GZOC/Other/CommonlyMacro.h</string>
						</dict>
						<key>GZOC/Other/CommonlyConst.h</key>
						<dict>
							<key>Group</key>
							<string>Other</string>
							<key>Path</key>
							<string>GZOC/Other/CommonlyConst.h</string>
						</dict>
						<key>GZOC/Other/CommonlyConst.m</key>
						<dict>
							<key>Path</key>
							<string>GZOC/Other/CommonlyConst.m</string>
							<key>Group</key>
							<string>Other</string>
						</dict>
						<key>GZOC/Other/KMCGeigerCounter.h</key>
						<dict>
							<key>Group</key>
							<string>Other</string>
							<key>Path</key>
							<string>GZOC/Other/KMCGeigerCounter.h</string>
						</dict>
						<key>GZOC/Other/KMCGeigerCounter.m</key>
						<dict>
							<key>Path</key>
							<string>GZOC/Other/KMCGeigerCounter.m</string>
							<key>Group</key>
							<string>Other</string>
						</dict>
					</dict>
				</dict>
				<key>Swift</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>Assets.xcassets</string>
						<string>GZSwift/Other/Macro.swift</string>
						<string>GZSwift/Base/GZBaseViewController.swift</string>
						<string>GZSwift/Base/GZNavitionController.swift</string>
						<string>GZSwift/Base/GZTabBarController.swift</string>
					</array>
					<key>Definitions</key>
					<dict>
						<key>Assets.xcassets</key>
						<dict>
							<key>SortOrder</key>
							<integer>50</integer>
							<key>Path</key>
							<string>Assets.xcassets</string>
						</dict>
						<key>GZSwift/Other/Macro.swift</key>
						<dict>
							<key>SortOrder</key>
							<integer>1000</integer>
							<key>Path</key>
							<string>GZSwift/Other/Macro.swift</string>
							<key>Group</key>
							<string>Other</string>
						</dict>
						<key>GZSwift/Base/GZTabBarController.swift</key>
						<dict>
							<key>SortOrder</key>
							<integer>900</integer>
							<key>Path</key>
							<string>GZSwift/Base/GZTabBarController.swift</string>
							<key>Group</key>
							<string>Base</string>
						</dict>
						<key>GZSwift/Base/GZNavitionController.swift</key>
						<dict>
							<key>SortOrder</key>
							<string>101</string>
							<key>Path</key>
							<string>GZSwift/Base/GZNavitionController.swift</string>
							<key>Group</key>
							<string>Base</string>
						</dict>
						<key>GZSwift/Base/GZBaseViewController.swift</key>
						<dict>
							<key>SortOrder</key>
							<string>102</string>
							<key>Path</key>
							<string>GZSwift/Base/GZBaseViewController.swift</string>
							<key>Group</key>
							<string>Base</string>
						</dict>
						<key>AppDelegate.swift:implementation:methods:applicationdidFinishLaunchingWithOptions:body</key>
						<string>
                            self.window = UIWindow(frame: UIScreen.mainScreen().bounds)
                            self.window?.backgroundColor = UIColor.whiteColor()
                            let rootCtl = GZTabBarController()
                            self.window?.rootViewController = rootCtl
                            //FIXME:此处设置 tabBar 子视图控制器 的名称
                            rootCtl.VCArray = [&quot;GZBaseViewController&quot;,&quot;GZBaseViewController&quot;,&quot;GZBaseViewController&quot;,&quot;GZBaseViewController&quot;]
                            //FIXME:此处设置 tabBar 子视图控制器 的标题
                            rootCtl.titleArray = [&quot;单糖&quot;,&quot;分类&quot;,&quot;我&quot;]
                            //FIXME:设置图标
                            //rootCtl.imageArray
                            //FIXME:设置选中图标
                            //rootCtl.selectImageArray
                            //选中icon 未选中icon
                            self.window?.makeKeyAndVisible()
                        </string>
					</dict>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
